body {
  background-color: rgb(226, 178, 255);
  font-family: 'Lato';
}

table {
  border-spacing: 0; 
  border-collapse: collapse;
}
.pasreveler {
  background-image: url("tile.png")
}
.reveler {
  background-image: url("tile_revealed.png")
}
img {
  vertical-align: bottom;
}
button {
  margin: 0px; 
  padding: 0px; 
  border: none;
  vertical-align: bottom; 
  cursor: pointer;
}
.revelerBouton {
  cursor: default;
}
.perduTexte {
  margin: 8px;
  padding: 8px;
  text-align: center;
}
.tableau {
  padding: 8px;
  white-space: nowrap;
}
